page-home {
    .list{
        margin:10px;
    }
    [ion-item]{
        padding:10px;
        margin-top:10px;
        background-color:rgba(47, 35, 214, 0.609);
        color:#fff;
    }
    .item p{
        color:#fff;
    }
    .list-header{
        background-color: aqua;
        color: black;
        height: 60px;
    }
    .card{

   
    .card-background-page {

        ion-card {
          position: relative;
          text-align: bottom;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
    }
}
