<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-list no-lines>
   <ion-list-header text-capitalised>
     CodeTribe Curriculum
   </ion-list-header>
 </ion-list>
 <button ion-item *ngFor='let course of arrCourses; let i=index' (click)="next(course)" detail-none no-lines>
<ion-icon name="{{course.icon}}" item-left></ion-icon>
<h2>Course: {{i+1}}</h2>


<h3>{{course.title}}</h3>
<h3>Duration: {{course.weeks}} weeks</h3>

<div *ngFor='let lessonTitle of course.lessons; let i=index'>
  
<p>Lesson: {{i+1}}: {{lessonTitle.title}}</p>
</div>


 </button>
 
 
</ion-content>
